# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/
MONGODB_DB_NAME=tutor_agent

# APIs
GEMINI_API_KEY=your_gemini_key
VOYAGE_API_KEY=your_voyage_key

# App
ENVIRONMENT=development
LOG_LEVEL=INFO
